@import '../variable';
#users-password-form {
	background-color : white;
	border-radius    : $border-radius;
	border           : 1px solid $border-color;
	padding          : $gutter;

	.row.buttons {
		margin-top : $gutter;
		text-align : center;
	}
}