.tabcontents {
	> div {
		width : 100% !important;

		> * {
			width : 100% !important;
		}
	}

}

.sh {
	background-color : #979797;
}

#row1 {
	width : 100%;
}

#row1col1 {
	width       : 4.6cm;
	margin-left : 11.8cm;
	font-size   : 9px;
}
#row1col12 {
	width     : 8.7cm;
	font-size : 9pt;
}
#row2 {
	width : 100%;
}

#row2col1 {
	width       : 3.5cm;
	float       : left;
	margin-left : 2px;
}

#row2col2 {
	width       : 2.2cm;
	float       : left;
	margin-left : 11.3cm;
}

#row4 {
	width : 100%;
}
#row4col1 {
	float : left;
	width : 3cm;
}
#row4col2 {

	margin-left : 5cm;
}

#row5 {
	width     : 100%;
	font-size : 8px;
}
#row5col1 {
	width : 1cm;
	float : left;
}

#row5col2 {
	width       : 0.5cm;
	float       : left;
	margin-left : 1.2cm;
}
#row6 {
	width : 100%;
}

#row6col1 {
	float : left;
	width : 2cm;
}

#row6col2 {
	float       : left;
	width       : 4cm;
	border      : 1px solid black;
	margin-left : 3.0cm;
}


#row7 {
	width : 100%;
}
#row7col1 {
	width       : 7cm;
	margin-left : 4cm;
	font-size   : 6px;
}
#row8 {
	width : 100%;
}

#row8col1 {
	float : left;
	width : 3cm;
}

#row8col2 {
	margin-left : 5cm;
}

#row9 {
	width : 100%;
}

#row9col1 {
	float : left;
	width : 3cm;
}

#row9col2 {
	margin-left   : 5cm;
	border-bottom : 1px solid black;
}

#row10 {
	width : 100%;
}

#row10col1 {
	float : left;
	width : 2.5cm;
}

#row10col2 {
	margin-left   : 5cm;
	border-bottom : 1px solid black;
}

#row11 {
	width : 100%;

}

#row11col1 {
	float : left;
	width : 2.5cm;

}

#row11col2 {
	margin-left   : 5cm;
	border-bottom : 1px solid black;
}
#row12 {
	width : 100%;


}
#row12col1 {
	float : left;

	width : 7.2cm;


}
#row12col2 {

	margin-left : 7cm;


}

#row13 {
	width : 100%;

}

#row13col1 {
	width       : 10cm;
	margin-left : 0.7cm;
}

#row14 {
	width : 100%;

}
#row14col1 {
	float      : left;
	font-size  : 6px;
	width      : 7cm;

	text-align : center;
}
#row14col2 {
	float       : left;
	margin-left : 2cm;
	font-size   : 8px;
	width       : 4.2cm;

	text-align  : center;
}

#row14col3 {

	width       : 2.1cm;
	border      : 1px solid black;
	margin-left : 14.8cm;
}
#row15 {
	width : 100%;

}

#row15col1 {
	float      : left;
	font-size  : 8px;
	width      : 7cm;

	text-align : center;
}
#row15col2 {

	margin-left : 9cm;
	font-size   : 8px;
	width       : 4.2cm;

	text-align  : center;
}
#row16 {
	width : 100%;

}
#row16col1 {
	width       : 5.5cm;
	margin-left : 0.6cm;
	font-size   : 8px;

	text-align  : center;
}

#row17 {
	width     : 100%;
	font-size : 10px;


}
#row17padding1cm {

	margin-left : 0.8cm;
	border      : 1px solid black;
}
#row17col1 {
	padding-top  : 5px;
	padding-left : 3px;
}
#row17col2 {

	padding-top  : 5px;
	padding-left : 3px;
}

#row17col3 {
	padding-top  : 5px;
	padding-left : 3px;
}

#row17inspector1 {
	margin-left : 6cm;
	font-size   : 8px;
}
#row17inspector2 {
	margin-left : 10.3cm;
	font-size   : 8px;
}

#row18 {
	width     : 100%;
	font-size : 6px;
}
#row18col1 {
	margin-left : 0.5cm;
}

#row19 {
	font-size : 6px;

}
#t4 {
	word-wrap : break-word;
}