@import '../variable';

.login-logo {
	text-align : center;

	h3 {margin-top : 0}
}

.login-box {
	width  : 360px;
	margin : auto;
}

.login-box-select-wrap {
	display               : grid;
	margin-bottom         : 1rem;
	grid-template-columns : 1fr auto;
	grid-gap              : 1rem;
}

.login-box-body {
	padding         : $gutter;
	color           : #666;
	border-top      : 0;
	border-radius   : 9px !important;
	background      : rgba(255, 255, 255, 0.4);
	box-shadow      : 0 0 6px black;
	backdrop-filter : blur(4px);

	.row {
		&.save {
			text-align : center;
			label {
				display     : flex;
				align-items : center;
				cursor      : pointer;
			}
		}

		&.submit {
			margin                     : $gutter ($gutter * -1) ($gutter * -1);
			padding                    : $gutter;
			border-top                 : 1px solid rgb(110, 110, 110);
			border-bottom-right-radius : 9px;
			border-bottom-left-radius  : 9px;
			background                 : rgba(0, 0, 0, 0.2);
		}
	}

	p:empty {display : none}

	& + .login-box-body {
		margin-top : 20px;
	}

	[type=file] {
		width         : 100%;
		cursor        : pointer;
		border        : 1px solid #ccc;
		border-radius : 4px;
		background    : white;

		&:focus {
			border-color : #66afe9;
			box-shadow   : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		}
	}
	//noinspection DuplicatedCode
	::-webkit-file-upload-button {
		font-size        : 12px;
		display          : inline-block;
		padding          : 8px 6px;
		cursor           : pointer;
		transition       : all 0.2s;
		text-align       : center;
		text-decoration  : none;
		color            : #2f2f2f;
		border           : 0;
		border-radius    : 0;
		background-color : #ccc;

		&:hover {background-color : darken(#ccc, 5%)}
	}

	// <editor-fold desc="Switch">
	.switch-wrap {
		font-weight : normal;
		font-style  : italic;
		display     : flex;
		align-items : center;
		margin      : 8px 0;
		cursor      : pointer;
		user-select : none;
	}

	//noinspection DuplicatedCode
	.switch {
		position     : relative;
		width        : 60px;
		height       : 32px;
		margin-right : 8px;
		--line       : #E8EBFB;
		--dot        : #275EFE;
		--circle     : #D3D4EC;
		--background : #fff;
		--duration   : .3s;
		--text       : #9EA0BE;
		--shadow     : 0 1px 4px rgba(0, 0, 0, 0.8);

		&:before {
			position      : absolute;
			top           : 0;
			left          : 0;
			width         : 60px;
			height        : 32px;
			content       : '';
			border-radius : 16px;
			background    : var(--background);
			box-shadow    : var(--shadow);
		}
		input {
			display : none;
			& + div {
				position : relative;
				&:before,
				&:after {
					position   : absolute;
					top        : 14px;
					width      : 24px;
					height     : 4px;
					content    : '';
					transition : transform var(--duration) ease;
					transform  : scaleX(var(--s));
					background : var(--line);
					--s        : 1;
				}
				&:before {
					left             : 4px;
					transform-origin : 0 50%;
					border-radius    : 2px 0 0 2px;
					--s              : 0;
				}
				&:after {
					left             : 32px;
					transform-origin : 100% 50%;
					border-radius    : 0 2px 2px 0;
				}
				span {
					line-height  : 28px;
					padding-left : 60px;
					color        : var(--text);
					&:before {
						position      : absolute;
						top           : 4px;
						left          : 4px;
						width         : 24px;
						height        : 24px;
						content       : '';
						transition    : box-shadow var(--duration) ease, transform var(--duration) ease;
						transform     : translateX(var(--x));
						border-radius : 50%;
						box-shadow    : inset 0 0 0 var(--s) var(--b);
						--x           : 0;
						--b           : var(--circle);
						--s           : 4px;
					}
					&:not(:empty) {
						padding-left : 68px;
					}
				}
			}
			&:checked {
				& + div {
					&:before {--s : 1}
					&:after {--s : 0}
					span {
						&:before {
							--x : 28px;
							--s : 12px;
							--b : var(--dot);
						}
					}
				}
			}
		}
	}
	// </editor-fold>

}
.login-box-msg {
	margin     : 0;
	padding    : 0 20px 20px 20px;
	text-align : center;
}

#login-form {
	text-align : left;
}


$opacity-transition : opacity 600ms ease-in-out;

#clients {
	visibility : hidden;
	transition : $opacity-transition;
	opacity    : 0;

	&:target {
		visibility : visible;
		opacity    : 1;

		.my-modal-body {
			transform : translateY(1);
			opacity   : 1;
		}
	}

	.my-modal-body {
		z-index    : 1;
		width      : 100%;
		max-width  : 500px;
		transition : $opacity-transition;
		transform  : translateY(-100px);
		opacity    : 0;
	}
}
.my-modal-wrapper {
	position        : fixed;
	z-index         : 1000;
	top             : 0;
	right           : 0;
	bottom          : 0;
	left            : 0;
	display         : flex;
	align-items     : center;
	justify-content : center;
	background      : rgba(0, 0, 0, 0.7);
}

.my-modal-outside {
	position : fixed;
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
	cursor   : default;
}

.my-modal-body {
	display                   : flex;
	flex-direction            : column;
	width                     : 100%;
	max-width                 : 400px;
	margin                    : 40px;
	padding                   : 32px;
	border-top-right-radius   : 16px;
	border-bottom-left-radius : 16px;
	background                : #fff linear-gradient(
					48deg, #fff 0%, #e5efe9 100%);
	box-shadow                : -20px 20px 35px 1px rgb(10 49 86 / 18%);

	.btn-danger {
		position : absolute;
		top      : 1rem;
		right    : 1rem;
	}
}